<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->

<% layout("/layouts/boilerplate") %>



<div class="row mt-3"> <!---a form in row -->
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create New Listings</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" >
                <div class="mb-3">
                    <label for="Title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="enter title " type="text" class="form-control" required >
                     <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please choose a title.</div>

                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea name="listing[description]" type="text" class="form-control"
                        placeholder="enter the description " id="" required ></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a description.</div>
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">upload image</label>
                    <input name="listing[image]" type="file" class="form-control" placeholder="upload the file " required  >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please choose a image.</div>
                </div>



                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">price</label>
                        <input name="listing[price]"  class="form-control" placeholder="enter the amount "  required >
                            <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a price.</div>
                </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">country</label>
                        <input name="listing[country]" type="text" class="form-control" placeholder="enter the url "required  >
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a country.</div>
                
                </div>
                
                
                <div class="mb-3">
                    <label for="location" class="form-label">location</label>
                    <input name="listing[location]" type="text" class="form-control" placeholder="enter the url "  required  >
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please choose a location.</div>
                </div class="mb-3">
                
                <button class="btn btn-dark add-btn mt-3">create</button>
                
                <br>
                
                <br>
            </form>
        </div>
    </div>
