<% layout ( "/layouts/boilerplate" )-%>

<div class="row" style=" margin:5rem">
    <div class="alert alert-danger col-6 offset-3 " role="alert ">
        
        <h4 class="alert-heading" style="text-align: center; margin:5rem auto; font-weight:900;">
            <span><%=err.message %> &nbsp;&nbsp;&nbsp;&nbsp;
            </span>
        </h4>
        <!-- <p>
            <%=err.stack%>
        </p> -->
    </div>
</div>
