<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>

    <!-- actually likhna to yahi tha but ejs-public pair use kr rahe hai to stylesheet  ke public folder me hi automatic search kiya jayga   -->
    <!-- <link rel="stylesheet" href="/public(3.2)/style.css"> --> 

     <!--tabhi to yahi likha ja skta hai to kaam chl jayega   -->
    <link rel="stylesheet" href="/style.css">

</head>