<% layout ( "/layouts/boilerplate" )-%>


<div class="row mt-3"> <!---a form in row -->
    
    <div class="col-6 offset-3">
        <h1>Login for Wanderlust</h1>
        <form action="/login"  method="POST" class="needs-validation" novalidate>
            <div class="mb-3"> 
                <label for="username" class="form-label">username</label>
                <input name="username" id="username" placeholder="enter username " type="text" class="form-control" required >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a username.</div>
            </div>

            <!-- <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input name="email" id="email"  type="email" class="form-control" required >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please fill valid  email.</div>
            </div> -->

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="enter Password "  type="password" class="form-control" required >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please choose a password.</div>
            </div>
            <button class="btn btn-dark">login</button>
        </form>
    </div>
</div>
